{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "htmlWhitespaceSensitivity": "strict",
  "plugins": [
    "svelte",
    "prettier-plugin-svelte"
  ],
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}